@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Title.</h3>

<p>Out mission here at Kid-Cloud is to bring <strong>you</strong> any easy way to put your kids in daycare and for daycare owners to take control of how their information is documented.</p>
