@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kid-Cloud!</h1>
    <p class="lead">One sentence attention grabber about what makes Kid-Cloud so great and unique goes here.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Let's Go! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Kid-Cloud?</h2>
        <p>
            Explanation/simple overview of application goes here.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the right Day Care!</h2>
        <p>We only accept the best, accredited day cares on Kid-Cloud. Enter your zipcode and choose the perfect day care near you!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join the Cloud</h2>
        <p>New to Kid-Cloud? Register as a new parent or day care today!.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>