@model KidCloudProject.Models.DayCare

@{
    ViewBag.Title = "Home Page";
}
<div class="homeBody">
<div class="homepage-jumbotron-bg">
    <div class="jumbotron">
        <h1>Kid-Cloud</h1>
        <p class="lead">The ultimate platform solution for any day care!.</p>
        <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Let's Go! &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Kid-Cloud?</h2>
        <p>
            Explanation/simple overview of application goes here.
        </p>
        <p><a class="btn btn-primary btn-md" href=@Url.Action("About", "Home")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the right day care!</h2>
        <p>We only accept the best, accredited day cares on Kid-Cloud. Enter your zipcode and choose the perfect day care near you!</p>
        @using (Html.BeginForm("FindDayCares", "DayCares", FormMethod.Post))
        {
            <div class="input-group">
                @Html.TextBoxFor(model => model.ZipCode, new { placeholder = "Zip Code", @class = "form-control width-100" })
                @Html.ValidationMessageFor(model => model.ZipCode)
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-md" type="submit">Search</button>
                </span>
            </div>
        }
    </div>
    <div class="col-md-4">
        <h2>Join Kid-Cloud Today.</h2>
        <p>New to Kid-Cloud? Register as a new parent or day care today!.</p>
        <p><a class="btn btn-primary btn-md" href="@Url.Action("Register", "Account")">Learn more &raquo;</a></p>
    </div>
</div>
</div>