body {
    padding-top: 50px;
    padding-bottom: 20px;  
}

.homeBody {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(Images/background3.png);
    background-size:100%;
    opacity: 1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*.accountPage {
    background-image: url(Images/logo.png);
    background-size:60%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-position-x: 400px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.width-100 {
    max-width: 100%;
}

.dateDivider {
  width: 100%;
  text-align: center;
  display: inline-flex;
  white-space: nowrap;
}

.dateDivider::before, .dateDivider::after{
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #ccc;
  margin: auto;
}

.dateDivider::before {
  margin-right: 12px;
}
.dateDivider::after {
  margin-left: 12px;
}


.messages {
    height: 500px;
    overflow-y: auto;
}

.message {
    padding: 12px;
    margin: 0 12px;
    border-top: 1px solid #ccc;
}

.message-icon {
    width: 48px;
    height: 48px;
    background: #00aaff url("Images/Icon-Profile-Default.svg");
    border-radius: 4px;
    float: left;
}

.message-body {
    overflow: hidden;
    margin-left: 54px;
    min-height: 48px;
}
.messages-container {
    padding-left: 80px;
}

.border-left {
    border-left: none;
}

.channels-container {
    width: 66px;
    height: 534px;
    overflow: hidden;
    float: left;
    border-right: 1px solid #ccc;
}

.channels {
    height: 100%;
    margin-right: -17px;
    overflow-y: scroll;
}

.channel {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background: #aa00ff;
    margin:6px auto;
}   

.channel-create-btn {
    border: 1.5px dashed #000;
    background: #fff url("Images/Icon-Plus.svg");
    opacity: 0.3;
}
.channel-create-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.channel:active {
    box-shadow: 0 0 6px 1px #00aaff
}

.paypal {
    background: #0e3cc3;
    padding: 10px;
    border-radius: 15px;
    width: 180px;
}

.paypal a {
    color: #fff;
}

.navbar {
    background-color: #a05c95;
    border-color: #8c6ab6;
}

.btn-primary {
    background-color: #a05c95;
    border-color: #8c6ab6;
}

.btn-primary:hover {
    background-color: #aa69a0;
    border-color: #bf86b6;
}

.icon-bar {
    background-color: #fff;
}

.navbar-brand {
    background-image: url(Images/logo.png);
    background-size: 100px, 100px;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
}

.navbar-nav li a {
    color: #fff;
}

.navbar-nav li a:hover {
    background-color: #aa69a0;
    color: #fff;
}

a {
    color: #a05c95;
}

a:hover {
    color: #bf86b6;
}

.homepage-jumbotron-bg {
    background-image: url(Images/background2.png);
    background-size: cover;
    background-position-y: 0px;
    opacity: 1;
}

.homepage-jumbotron-bg .jumbotron {
    color: #fff;
    background: rgba(0,0,0,0.5);
}

@media screen and (min-width: 768px) {
    .homepage-jumbotron-bg {
        background-position-y: -124px;
    }
}