@{
    ViewBag.Title = "Index";
}

<h3>Chat Rooms</h3>
<ul>
    <li>@Html.ActionLink("GroupChat", "GroupChat", "Messages")</li>
    <li>@Html.ActionLink("View Direct Message Channels", "ViewDirectMessageChannels", "Messages")</li>
</ul>
