@{
    ViewBag.Title = "Index";
}

<h3>Chat Rooms</h3>
<ul>
    <li>@Html.ActionLink("GroupChat", "GroupChat", "Messages")</li>
    <li>@Html.ActionLink("Create New Direct Message", "CreateDirectMessageChannel", "Messages")</li>
</ul>
